<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Nume</mat-label>
        <input matInput formControlName="nume">
        @if(registerForm.get('nume')?.touched && registerForm.get('nume')?.invalid) {
        <p>Numele trebuie sa aiba minim 3 caractere.</p>
    }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        @if(registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
        <p>Email-ul este obligatoriu.</p>
    }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Parola</mat-label>
        <input formControlName="parola" matInput>
        @if(registerForm.get('parola')?.invalid && registerForm.get('parola')?.touched) {
        <p>Parola trebuie sa aiba minim 6 caractere.</p>
    }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol">
            <mat-option value="">-- Alegeti Optiunea --</mat-option>
            <mat-option value="angajator">Angajator</mat-option>
            <mat-option value="candidat">Candidat</mat-option>
        </mat-select>
        @if(registerForm.get('rol')?.touched && registerForm.get('rol')?.invalid) {
        <p>Alegerea rolului este obligatoriu.</p>
    }
    </mat-form-field>


    <button type="submit" [disabled]="registerForm.invalid" mat-raised-button>Register</button>

</form>