@if(job$ | async; as job) {
   <div class="job-container">
       <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ job?.titlu }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ job?.companie }}
        </mat-card-content>
        <mat-card-content>
            {{ job?.descriere }}
        </mat-card-content>
        <mat-card-content>
            {{ job?.dataPostarii }}
        </mat-card-content>
        @if(tipDeUser === 'candidat') {
            <button (click)="aplicaJob()" mat-stroked-button>Aplică</button>
        }
       </mat-card>
   </div>
}

@if(aplicatReusit()) {
    <p>Ati aplicat cu success!</p>
}

@if(aplicatEsuat()) {
    <p>A aparut o eroare.</p>
}

@if(aplicatDeja()) {
    <p>Ati aplicat pentru acest job.</p>
}
