<div class="job-list">
    @for(job of joburi; track job.id) {
    <mat-card [routerLink]="['/joburi', job.id]" style="cursor: pointer">
        <mat-card-header>
            <mat-card-title>{{job.titlu}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{job.descriere}}
        </mat-card-content>
        <mat-card-content>
            {{job.companie}}
        </mat-card-content>
        <mat-card-content>
            {{job.dataPostarii}}
        </mat-card-content>
    </mat-card>
    }
</div>
